In [2]:
import pandas as pd

In [10]:
df1 = pd.DataFrame({
    'shiva_num':[1,2,3],
    'sales':[10,20,30]
})
df1

   shiva_num  sales
0          1     10
1          2     20
2          3     30

In [11]:
df2 = pd.DataFrame({
    'shiva_num':[2],
    'sales':[900],
    'Location':['Delhi']
})
df2

   shiva_num  sales Location
0          2    900    Delhi

In [12]:
pd.concat([df1,df2])

C:\Users\Inspiron\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

  Location  sales  shiva_num
0      NaN     10          1
1      NaN     20          2
2      NaN     30          3
0    Delhi    900          2

In [13]:
pd.concat([df1,df2],axis=1)

   shiva_num  sales  shiva_num  sales Location
0          1     10        2.0  900.0    Delhi
1          2     20        NaN    NaN      NaN
2          3     30        NaN    NaN      NaN

In [17]:
pd.merge(df1,df2,on='shiva_num',how='left')

   shiva_num  sales_x  sales_y Location
0          1       10      NaN      NaN
1          2       20    900.0    Delhi
2          3       30      NaN      NaN